.aside{
    min-height: 100vh;
    padding: 40px 30px;
    background: linear-gradient(175.93deg, #5F00D8 -10.23%, #B200F1 117.03%);
}
.line{
    height: 1px;
    background-color:rgba(#fff,.2);
    margin-top: 35px;
}
